main {
  @include flex(column, flex-start, center);
  @include desktop() {
    padding: 2rem;
  }
  box-sizing: border-box;
  padding: 1rem;
  background-color: $background;
  .btn-container {
    @include flex(column);
    @include desktop() {
      @include flex(row wrap);
    }
  }
  .accordion {
    li {
      @include flex(column, flex-start, flex-start);
      margin: 0;
      padding: 0;
      text-align: left;
      background-color: $background;
      box-shadow: 2px 2px $gray-light, -2px -2px $gray-light,
        -2px 2px $gray-light, 2px -2px $gray-light;
      &:hover {
        background-color: $gray-light;
      }
      label {
        box-sizing: border-box;
        box-shadow: 2px 2px $gray-light, -2px -2px $gray-light,
          -2px 2px $gray-light, 2px -2px $gray-light;
        width: 100%;
        background-color: $background;
        padding: 10px;
        & ~ * {
          display: none;
          box-sizing: border-box;
          padding: 10px;
        }
        &:hover {
          background-color: $color-1-lighter;
        }
      }
    }

    .active {
      background-color: $color-1-lighter;
    }
    .active ~ * {
      display: flex;
    }
  }
  * {
    transition: 0.2s;
  }
  article {
    @include flex(column);
    @include desktop() {
      width: 50%;
      padding: 2rem;
    }
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    background-color: $background-light;
    min-width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    > * {
      margin: 5px 0px;
    }
    h2 {
      margin: 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        @include flex(row, flex-start, flex-start);
        margin: 5px 0px;
        padding: 5px 0px;
        &:hover {
          background-color: $color-2-light;
        }
        &:has(> input:checked) {
          background-color: $color-1-lighter;
        }
      }
    }
    button {
      flex: 1;
      flex-grow: 1;
      // min-width: 180px;
      border-radius: 5px;
      padding: 4px 7px;
      border: 2px solid $color-1;
      margin: 2px;
      &:active {
        box-shadow: inset 2px 2px #fff, inset -2px -2px #fff,
          inset -2px 2px #fff, inset 2px -2px #fff;
      }
    }
    button.primary-btn {
      color: $background-light;
      background-color: $color-1;
      border-color: $color-1-dark;
      &:hover {
        background-color: $color-1-light;
      }
      &:active {
        background-color: $color-1-dark;
        transform: scale(0.92);
      }
    }
    button.secondary-btn {
      color: $color-1-dark;
      background-color: $background-light;
      border-color: $color-1-dark;
      &:hover {
        background-color: $color-1-lighter;
      }
      &:active {
        background-color: $color-1-light;
        transform: scale(0.92);
      }
    }
    aside.green {
      display: flex;
      background-color: $green-light;
      border-color: $green;
    }
    aside.yellow {
      display: flex;
      background-color: $yellow-light;
      border-color: $yellow-dark;
    }
    aside.red {
      display: flex;
      background-color: $red-light;
      border-color: $red;
    }
    aside {
      display: none;
      border: 2px solid black;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 10px;
      p,
      h3 {
        margin: 5px;
      }
    }
  }
  article.result {
    display: none;
  }
  .hide{
    display: none;
  }
}
