//Ljust tema
$background: #f7f7f7;
$background-light: #fff;
$color-1: #006ebf;
$color-1-light: #5bb0ff;
$color-1-lighter: #badeff;
$color-1-dark: #075b97;
$color-2: #c29409;
$color-2-light: #ffeaad;
$color-2-dark: #b48908;
$gray: #d8d8d8;
$gray-light: #ebebeb;
$gray-dark: #bdbdbd;

//Mörkt tema
// $background: #1b1b1b;
// $background-light: #333333;
// $color-1: #00837c;
// $color-1-light: #c2eee7;
// $color-1-dark: #02524e;
// $color-2: #c40064;
// $color-2-light: #fdbbd9;
// $color-2-dark: #860246;

$red: #b61717;
$red-light: #faaeae;
$red-dark: #860606;
$yellow: #ff0;
$yellow-light: #ffeaad;
$yellow-dark: #c29409;
$green: #0d8d08;
$green-light: #d0ffce;
$green-dark: #056601;

