@import "./partials/coloring.scss";
@import "./partials/mixins.scss";
@import "./partials/main.scss";

body, html{
    background-color: var(--background);
    margin: 0;
    padding: 0;
}
main{
    min-height: 100vh;
}

header{
    margin-bottom: 15px;
}

p{
     margin: 5px 0px;
}

label, button, input[type="checkbox"], input[type="radio"]{
    cursor: pointer;
  }
  p, h1, h2, h3{
    cursor:default;
  }